### USERS MICROSERVICE
USERS_SERVICE_PORT=
BCRYPT_SALT_ROUNDS=

POSTGRES_USER=users_service
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=

USERS_PRISMA_DB_URL="postgresql://PG_USER:YOUR_PASSWORD_HERE@HOST_HERE:PORT/DB_NAME?schema=public"
### END USERS MICROSERVICE
