### USERS MICROSERVICE
USERS_SERVICE_PORT=4000

POSTGRES_USER=users_service
POSTGRES_PASSWORD=KfTyF7eee
POSTGRES_PORT=5432
POSTGRES_DB=users_service_db

USERS_PRISMA_DB_URL="postgresql://users_service:KfTyF7eee@postgres:5432/users_service_db?schema=public"
### END USERS MICROSERVICE
