### USERS MICROSERVICE
USERS_SERVICE_PORT=4000
BCRYPT_SALT_ROUNDS=10

POSTGRES_HOST=devpostgres
POSTGRES_USER=users_service
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_DB=users_service_db

USERS_PRISMA_DB_URL=
### END USERS MICROSERVICE
