### USERS MICROSERVICE
USERS_SERVICE_PORT=4001
BCRYPT_SALT_ROUNDS=10

POSTGRES_HOST=devpostgres
POSTGRES_USER=users_service
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
POSTGRES_DB=dev_users_service_db

USERS_PRISMA_DB_URL=
### END USERS MICROSERVICE
