### USERS MICROSERVICE
USERS_SERVICE_PORT=4002
BCRYPT_SALT_ROUNDS=10

POSTGRES_HOST=testpostgres
POSTGRES_USER=users_service
POSTGRES_PASSWORD=
POSTGRES_PORT=5434
POSTGRES_DB=test_users_service_db

USERS_PRISMA_DB_URL=
### END USERS MICROSERVICE
